<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SampleSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B8F8B6FB1F53E5E100EC569B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8F8B70F1F53E5E100EC569B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8F8B71A1F53E5E100EC569B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
